@import 'bulma-carousel';

section.subscribe {
    margin-top: 1em;
  
    h3 {
      margin-bottom: 1em;
    }
  }

section.fox {
    
   h4 {
    
     color: blue;
   }

   p:hover {
     color: aquamarine;
   }
}

section.fox:hover h2 {
  margin-top: 2em;
  transition: 3s;
  color: rgb(190, 20, 91);
  margin-bottom: 3em;
}



